/**
 * @Author: jecyu
 * @Date: 2017-12-14 6:00:55 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-12-14 6:11:16 pm 
 */
/**
 * @Author: jecyu
 * @Date: 2017-12-12 6:21:32 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-12-14 5:22:47 pm 
 */

@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

$browser-default-font-size: 16px !default;
html {
    font-size: $browser-default-font-size;
}

@function pxTorem($px) {
    @return $px / $browser-default-font-size * 1rem;
}

$basecolor: #19202b;
$item1: #0a728f;
$item2: #a52931;
$item3: 4f5555;
$item4: #bdd0ce;
$item5: rgb(239, 239, 244);
html,
body {
    position: relative;
    height: 100%;
    font-size: 20px;
}

// Head navigation
.page {
    .bar-nav {
        padding: 0;
    }
}

.bar .button {
    top: pxTorem(3px);
}

.page {
    .buttons-tab {
        height: 100%;
        background: $basecolor; // touch-action: none;
        .tab-link {
            color: $item4;
            &.active {
                color: $item2;
                border-color: $item2;
            }
        }
    }
}

// footer
.bar-nav,
.bar-tab {
    background: $basecolor;
    color: $item2;
    .tab-item {
        &.active {
            color: $item2;
        }
    }
    .button-link {
        color: $item4;
        top: 0;
    }
}

.content-block {
    margin: 0;
    padding: 0;
}

// card 
// left right layout
.card {
    margin: 0 0 pxTorem(5px) 0;
}

.media-list {
    .item-content {
        border-bottom: pxTorem(5px) solid $item5;
        .item-media {
            margin: 0;
            padding: 0;
            height: pxTorem(80px);
            width: pxTorem(120px);
        }
    }
}

.item-media {
    img {
        height: 100%;
        width: 100%;
    }
}

// item-information
.item-inner {
    .title-footer {
        display: flex;
        justify-content: space-between;
        margin-top: pxTorem(30px);
        .item-type {
            width: pxTorem(40px);
            height: pxTorem(20px);
            text-align: center;
            line-height: pxTorem(20px);
            color: #fff;
            background: rgb(118, 238, 118);
        }
    }
}

.list-block {
    .item-inner:after {
        height: 0;
    }
}

.card.LR-layout {
    .media-container {
        display: flex;
    }
}

// card three colums
.card.three-colums {
    border-bottom: pxTorem(5px) solid $item5;
    .card-title {
        position: relative;
        height: pxTorem(30px);
        padding-left: pxTorem(10px);
        font-weight: normal;
        font-size: pxTorem(14px);
        line-height: pxTorem(30px);
    }
}

.card-media-list {
    display: flex;
    justify-content: space-between;
    & .item-media {
        width: 33%;
        img {
            width: 100%;
        }
    }
}

.card-footer {
    .card-popularity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: pxTorem(100px);
    }
}
