
@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

$browser-default-font-size: 16px !default;
html {
    font-size: $browser-default-font-size;
}

@function pxTorem($px) {
    @return $px / $browser-default-font-size * 1rem;
}

$basecolor: #19202b;
$item1: #0a728f;
$item2: #a52931;
$item3: 4f5555;
$item4: #bdd0ce;
$item5: rgb(239, 239, 244);

html,
body {
    position: relative;
    height: 100%;
    font-size:20px;
}

// page content
.page {
    header {
        .title {
            color: #fff;
            background: $basecolor;
        }
    }
} 

.content-block {
    margin: 0;
    padding: 0;
}

.swiper-container {
    height: pxTorem(200px);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;

    img {
        width: 100%;
    }
}

// card 
// left right layout
.card {
    margin: 0;
}

.item-content {
    border-bottom: pxTorem(5px) solid $item5;
    .item-media {
        height: pxTorem(120px);
        width: pxTorem(160px);

        img {
            width: 100%;
        }
    }

}

.item-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    .title-footer {
        margin-top: pxTorem(50px);
        display: flex;
        justify-content: space-between;

        .item-type {
            width: pxTorem(40px);
            height: pxTorem(20px);
            text-align: center;
            line-height: pxTorem(20px);
            color: #fff;
            background: rgb(118, 238, 118);
        }
    }

    // clear the 1px bottom border

    &::after {
        height: 0;
    }
}

.card.LR-layout {
    .media-container {
        display: flex;
    }
}

// card three colums

.card.three-colums {
    border-bottom: pxTorem(5px) solid $item5;    
    .card-title {
        position: relative;
        height: pxTorem(30px);
        padding-left: pxTorem(10px);

        font-weight: normal;
        font-size: pxTorem(14px);
        line-height: pxTorem(30px);
    }
}

.card-media-list {
    display: flex;
    justify-content: space-between;

    & .item-media {
        width: 33%;

        img {
            width: 100%;
        }
    }
}

.card-footer {
    .card-popularity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: pxTorem(100px);
    }
}


    





